<div class="content">
  <div class="animations">
    <div class="controls" *ngFor="let animation of animations" [ngClass]="{'selected': currentAnimation == animation}">
      <button><i class="material-icons">check</i></button>  
      <div class="text" (click)="selectAnimation(animation)">
        <span class="name">{{animation.name}}</span>
      </div>
    </div>
    <div class="controls new">
      <i class="material-icons">add</i>
      <div class="text" (click)="selectAnimation(animation)">
        <span class="name">Neue Animation</span>
      </div>
    </div>
  </div>

  <div class="editor controls">
    
  </div>
</div>