<div class="content">
  <div class="animations">
    <div class="controls" *ngFor="let animation of animations" [ngClass]="{'selected': currentAnimation == animation}">
      <div class="checkbox-container" (click)="changeEnabled(animation)">
        <i *ngIf="animation.enabled === false" class="material-icons">check_box_outline_blank</i>
        <i *ngIf="animation.enabled === true" class="material-icons">check_box</i>
      </div>  
      <div class="text" (click)="selectAnimation(animation)">
        <span class="name">{{animation.name}}</span>
      </div>
    </div>
    <div class="controls new">
      <i class="material-icons">add</i>
      <div class="text" (click)="selectAnimation(animation)">
        <span class="name">Neue Animation</span>
      </div>
    </div>
  </div>

  <div class="editor controls">
    <ng-container *ngIf="currentFrame" >
      <div class="pixels">
          <div class="pixel" *ngFor="let cell of currentFrame.data" [ngStyle]="{'background-color': 'rgb('+cell.red+', '+cell.green+', '+cell.blue+')'}"></div>
      </div>
    </ng-container>
  </div>
</div>