.heading {
    font-weight: 500;
    text-align: center;
}
.dropdown {
    float: right;
}

.controls {
    height: 40px;
    width: calc(100% - 20px);
    margin: 10px;
    vertical-align: middle;
}

.controls .text {
    font-size: 1.5em;
    height: 40px;
    display: inline-block;
}
.text-container {
    width: calc(100% - 240px);
    display: inline-block;
}
.repeats {
    display: inline-block;
    height: 40px;
    margin-left: 10px;
    font-size: 1em;
    vertical-align: super;
}
.selected {
    background-color: var(--accent);
    color: var(--primary);
}
.selected input {
    color: white;
}

input {
    width: 95px !important;
}
label {
    vertical-align: baseline;
    margin-left: -60px;
}
.new i {
    color: #646464;
    vertical-align: sub;
    font-size: 30px;
    margin: 5px;
}

.checkbox-container {
    user-select: none;
    display: inline-block;
    height: 30px;
    width: 40px;
    font-size: 35px;
}

.text {
    display: inline-block;
    vertical-align: super;
}
.checkbox-container i {
    vertical-align: baseline;
    font-size: 30px;
    margin: 5px;
}

.new .text {
    width: calc(100% - 250px) !important;
    color: #646464;
    vertical-align: inherit;
}
.controls .text:focus {
    outline: none;
}

.pixels {
    height: 240px;
    width: 240px;
    padding: 1px;
    margin: 5px;
    border: solid black 1px;
    
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    font-size: 0;
}
.pixel {
    width:30px;
    height:30px;
    display: inline-block;
}

.controls .text:hover {
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: flex-end;
    justify-content: center;
}
.animations {
    width: 550px;
    height: calc(100%);
    overflow-y: auto;
    overflow-x: hidden;
    margin: 10px;
    min-height: 200px;
    flex: 1;
    max-width: 600px;
    min-width: 1000px;

}
.editor {
    margin: 10px;
    height: 250px;
    max-width: 600px;
    min-width: 255px;
    flex: 0;
}
.selected button {
    background-color: var(--accent);
    color: var(--primary);

}
.selected button:hover {
    color: var(--accent);
    background-color: var(--primary);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  background-color: white;
  z-index: 10;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.selected.cdk-drag-preview {
  background-color: black !important;
}
  
.cdk-drag-placeholder {
  opacity: 0;
}
  
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.animation-list.cdk-drop-list-dragging .controls:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.text-input {
    margin-top: 0;
    font-size: 1em;
    vertical-align: baseline;
    border: none;
    width: 100% !important;
}

.controls i {
    cursor: pointer;
}