<div class="content">
  <div class="designer" >
    <div class="controls matrix-controls">
      <input type="checkbox" [(ngModel)]="brush">
      <input min="0" step="1" id="frame-duration" type="number" *ngIf="currentFrame" [(ngModel)]="currentFrame.duration">
      <button class="button-right" (click)="clear()"><i class="material-icons">close</i></button>
    </div>
    <div class="matrix">
      <ng-container *ngIf="currentFrame">
        <ng-container *ngFor="let cell of currentFrame.data">
          <ng-container *ngIf="isInHeart(cell.position) || !heartShape; then active else inactive"></ng-container>
          <ng-template #active>
            <!--[ngClass]="{'outline': (cell.red+cell.blue*2+cell.green*4) > 800}"-->
            <div class="element" [ngClass]="{'outline': (cell.red+cell.blue*2+cell.green*4) > 800}" (mouseover)="onHover(cell, $event)" (mousedown)="onMousedown(cell, $event)" [ngStyle]="{'background-color': 'rgb('+cell.red+', '+cell.green+', '+cell.blue+')'}"></div>
          </ng-template>
          <ng-template #inactive>
              <div class="element-inactive"></div>
          </ng-template>
        </ng-container>
      </ng-container>
    </div>
    <div class="color-palette">
        <div class="color" *ngFor="let color of colors" (click)="selectColor(color)" [ngClass]="{'active': this.currentColor == color}" [ngStyle]="{'background-color': 'rgb('+color.red+', '+color.green+', '+color.blue+')'}"></div>
    </div>
    <div class="color-selector">
      <div class="color-preview" [ngStyle]="{'background-color': 'rgb('+currentColor.red+', '+currentColor.green+', '+currentColor.blue+')'}">
          <div>{{getColorCode()}}</div>
      </div>
      <div class="color-values">
        <div class="color">
          <input [(ngModel)]="currentColor.red" class="color-slider color-slider-red" type="range" value="255" min="0" max="255">
          <input [(ngModel)]="currentColor.red" (change)="validateRed()" type="number" min="0" max="255" step="1">    
        </div>
        <div class="color">
          <input [(ngModel)]="currentColor.green" class="color-slider color-slider-green" type="range" value="255" min="0" max="255">
          <input [(ngModel)]="currentColor.green"  (change)="validateGreen()"type="number" min="0" max="255" step="1">    
        </div>
        <div class="color">
          <input [(ngModel)]="currentColor.blue" class="color-slider color-slider-blue" type="range" value="255" min="0" max="255">
          <input [(ngModel)]="currentColor.blue" (change)="validateBlue()" type="number" min="0" max="255" step="1">    
        </div>
      </div>
    </div>
  </div>
  <div class="frames">
    <div class="controls frame-controls">
        <button (click)="left()" [disabled]="this.frames.indexOf(this.currentFrame) == 0"><i class="material-icons">arrow_back</i></button>
        <button (click)="deleteFrame()" [disabled]="this.frames.length == 1"><i class="material-icons">delete</i></button>
        <button (click)="right()" [disabled]="this.frames.indexOf(this.currentFrame) == this.frames.length-1"><i class="material-icons">arrow_forward</i></button>
        <button (click)="sendRequest()"><i class="material-icons">cloud_upload</i></button>
        <button class="button-right" (click)="addFrame()"><i class="material-icons">add</i></button>
      </div>
    <div class="frame" *ngFor="let frame of frames" (click)="loadFrame(frame)" [ngClass]="{'frame-selected': currentFrame == frame}">
      <div class="pixel" *ngFor="let cell of frame.data" [ngStyle]="{'background-color': 'rgb('+cell.red+', '+cell.green+', '+cell.blue+')'}"></div>
    </div>
    <!--
          <div class="frame frame-add" (click)="addFrame()">+</div>
    -->
  </div>
</div>