.heading {
    height: 40px;
    
    padding: 1px;
    margin: 8px;
    margin-top: 20px;
    
}

.heading h1 {
    margin: 0 0 0 10px;
    display: inline-block;
    font-weight: 500;
    vertical-align: middle;
}


.matrix {
    height: 320px;
    width: 320px;
    
    border: solid black 1px;
    font-size: 0;
    background-color: var(--primary);
    margin: auto;
    margin-top: 10px;
    user-select: none;
}

.matrix .element {
    width: 36px;
    height:36px;
    display: inline-block;
    margin: 2px;
}

/*
.matrix .element:nth-child(1) {
    border-radius: 5px 0 0 0;
}
.matrix .element:nth-child(8) {
    border-radius: 0 5px 0 0;
}
.matrix .element:nth-child(57) {
    border-radius: 0 0 0 5px;
}
.matrix .element:nth-child(64) {
    border-radius: 0 0 5px 0;
}*/

.matrix .outline {
    width: 34px;
    height:34px;
    border: solid #aaa 1px;
    margin: 2px;
}

.matrix .element-inactive {
    width: 40px;
    height:40px;
    border: none;
    background-color: #fff;
    display: inline-block;
}

.color-selector {
    border:solid black 1px;
    width:320px;
    margin: auto;
    margin-top: 10px;
}
.color-selector .color {
    height:61px;
}
.color-selector input {
    display: inline;
    margin: 20px;
    vertical-align: middle;
}
.color-selector input[type=number] {
    width: 80px;
    margin-left: 5px;    
    padding-left: 3px;
}
.color-input {
    margin: auto;
    font-size: 30px;
    color: black;
    width: 140px;
    font-family: monospace;
    color: black;

}

.color-input input {
    outline: none;
    padding: 0px;
    width: 120px;
    text-transform: uppercase;
    margin: auto;
    background: transparent;
    border: none;

    font-family: monospace;
    font-size: 30px;
}

.white input {
    color: white;
}
.white span {
    color: white;
}

.color-input span {
    font-size: 30px;
    vertical-align: bottom;
    margin: -1px;
}

.color-preview {
    height: 45px;
    width: 280px;
    margin: 20px 10px 20px 20px;
    border: solid black 1px;
    
    display: inline-block;
}
.color-slider {
    width: 170px;
    -webkit-appearance: none;
}

.color-slider:focus {
    outline: none;
}

.color-slider::-webkit-slider-runnable-track {
    height: 4px;
}

.color-slider-red::-webkit-slider-runnable-track {
    background: linear-gradient(90deg,#000000, #ff0000);
}

.color-slider-green::-webkit-slider-runnable-track {
    background: linear-gradient(90deg,#000000, #00ff00);
}

.color-slider-blue::-webkit-slider-runnable-track {
    background: linear-gradient(90deg,#000000, #0000ff);
}

.color-slider::-webkit-slider-thumb {
  position: relative;
  bottom: 13px;
  cursor: grab;
  height: 30px;
  width: 10px;
  border: solid 1px black;
  
  background-color: var(--accent);
  -webkit-appearance: none;

}

.matrix-controls {
    height: 40px;
    transform: translateX(3px);
    width: 318px;
    margin: auto;
}

.frame-controls {
    height: 40px;
    margin: 4px;
    margin-top: 0px;
}

.frame-controls input {
    width: 82px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
}

.designer {
    padding: 20px;
    margin: 10px;
    border: solid black 1px;
    
    background: var(--primary);
    flex: 1;
}

.frames {
    padding: 20px;
    margin: 10px;
    
    border: solid black 1px;
    min-width: 300px;
    background: var(--primary);
    flex-direction: row;
    flex: 4;
    overflow: auto;
}

.frame {
    height: 60px;
    width: 60px;
    padding: 1px;
    margin: 5px;
    border: solid black 1px;
    
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    font-size: 0;
}

.frame .pixel {
    width:7.5px;
    height:7.5px;
    display: inline-block;
}

.color-values {
    margin-bottom: 10px;
}

/*
.frame .pixel:nth-child(1) {
    border-radius: 5px 0 0 0;
}
.frame .pixel:nth-child(8) {
    border-radius: 0 5px 0 0;
}
.frame .pixel:nth-child(57) {
    border-radius: 0 0 0 5px;
}
.frame .pixel:nth-child(64) {
    border-radius: 0 0 5px 0;
}*/


.frame-selected {
    border: solid black 2px;
    
    margin: 4px;
}

.frame-add {
    font-size: 50px;
    text-align: center;
    user-select: none;
    line-height: 67px;
}

.frame-add i {
    font-size: 29px;
    display: block;
    margin: 16px;
}

.color-palette {
    width: 320px;
    margin: auto;
    margin-top: 10px;
    border: solid black 1px;
    
    text-align: center;
}

.color-palette .color {
    display: inline-block;
    margin: 7px;
    border: solid 1px black;
    height: 40px;
    
    width: 60px;
}

.color-palette .active {
    border: solid 2px black;
    margin: 6px;
}

.color-palette .color-element {
    width: 58px;
    margin: 1px;
    height: 38px;
    
    display: inline-block;
}

/*
.color-palette .active {
    width: 60px;
    height: 40px;
    margin: 5px;
    border: solid 3px var(--background);
}
*/