<div class="heading controls">

    <button [routerLink]="['']"><i class="material-icons">navigate_before</i></button>

    <input class="text-input" type="text" [(ngModel)]="currentAnimation.name" (ngModelChange)="this.changes = true">  

    <!--<div class="repeats-group">
      <h1 id="repeats" (click)="editRepeats = true" *ngIf="currentAnimation && !editRepeats">{{currentAnimation.repeats}}</h1>
      <input autofocus id="repeats-input" min="0" type="number" *ngIf="editRepeats" [(ngModel)]="currentAnimation.repeats" (ngModelChange)="this.changes = true">  
    </div>-->
    <div class="right">
        <button (click)="duplicate()" [disabled]="duplicateLoading"><i class="material-icons">add_to_photos</i></button>
        <button (click)="sendRequest()" [ngClass]="{'loading': loading}" [disabled]="loading"><i class="material-icons">cloud_upload</i></button>
        <input max="99" class="repeats-input" *ngIf="currentAnimation" id="repeats-input" min="1" type="number" [ngModel]="currentAnimation.repeats.toString().padStart(2, '0')" (ngModelChange)="this.changes = true; currentAnimation.repeats = $event">  
        <label for="repeats-input">Wdh.</label>    
    </div>
  </div>

<div class="content">
  <div class="designer" >
    <div class="controls matrix-controls">
      <button class="button-right" (click)="clear()"><i class="material-icons">close</i></button>
      <button class="button-right" (click)="switchMode()"><i class="material-icons">{{brush ? 'format_paint' : 'brush'}}</i></button>
    </div>
    <div class="matrix">
      <ng-container *ngIf="currentFrame">
        <ng-container *ngFor="let cell of currentFrame.data">
          <ng-container *ngIf="isInHeart(cell.position) || !heartShape; then active else inactive"></ng-container>
          <ng-template #active>
            <!--[ngClass]="{'outline': (cell.red+cell.blue*2+cell.green*4) > 800}"-->
            <div class="element" [ngClass]="{'outline': (cell.red+cell.blue*2+cell.green*4) > 800}" (mouseover)="onHover(cell, $event)" (mousedown)="onMousedown(cell, $event)" [ngStyle]="{'background-color': 'rgb('+cell.red+', '+cell.green+', '+cell.blue+')'}"></div>
          </ng-template>
          <ng-template #inactive>
              <div class="element-inactive"></div>
          </ng-template>
        </ng-container>
      </ng-container>
    </div>
    <div class="color-palette">
        <div class="color" *ngFor="let color of colors" (click)="selectColor(color)" [ngClass]="{'active': this.currentColor == color}">
          <div [ngStyle]="{'background-color': 'rgb('+color.red+', '+color.green+', '+color.blue+')'}" class="color-element"></div>
        </div>
    </div>
    <div class="color-selector">
      <div class="color-preview" [ngStyle]="{'background-color': 'rgb('+currentColor.red+', '+currentColor.green+', '+currentColor.blue+')'}">
          <div class="color-input" [ngClass]="{'white': !((currentColor.red+currentColor.blue*2+currentColor.green*4) > 800)}">
              <span>#</span>
              <input [(ngModel)]="hexValue" (input)="checkHex()" (keydown)="validateHex($event)" value="{{getColorCode()}}" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"  type="text" maxlength="6">
          </div>
      </div>
      <div class="color-values">
        <div class="color">
          <input [(ngModel)]="currentColor.red" class="color-slider color-slider-red" type="range" value="255" min="0" max="255">
          <input [(ngModel)]="currentColor.red" (change)="validateRed()" type="number" min="0" max="255" step="1">    
        </div>
        <div class="color">
          <input [(ngModel)]="currentColor.green" class="color-slider color-slider-green" type="range" value="255" min="0" max="255">
          <input [(ngModel)]="currentColor.green"  (change)="validateGreen()"type="number" min="0" max="255" step="1">    
        </div>
        <div class="color">
          <input [(ngModel)]="currentColor.blue" class="color-slider color-slider-blue" type="range" value="255" min="0" max="255">
          <input [(ngModel)]="currentColor.blue" (change)="validateBlue()" type="number" min="0" max="255" step="1">    
        </div>
      </div>
    </div>
  </div>

   <div class="frames">
    <div class="controls frame-controls">
        <button (click)="left()" [disabled]="this.frames.indexOf(this.currentFrame) == 0"><i class="material-icons">arrow_back</i></button>
        <button (click)="right()" [disabled]="this.frames.indexOf(this.currentFrame) == this.frames.length-1"><i class="material-icons">arrow_forward</i></button>
        <button (click)="deleteFrame()" [disabled]="this.frames.length == 1"><i class="material-icons">delete</i></button>
        <input id="frame-duration" min="0" step="0.1" max="99" id="frame-duration" type="number" *ngIf="currentFrame" (ngModelChange)="currentFrame.duration = $event*1000; changes = true" [ngModel]="(currentFrame.duration/1000).toFixed(1).padStart(4, '0')">
        <label for="frame-duration">s</label>
      </div>
      <div class="frame-list">
        <div class="frame frame-add" (click)="addFrame()"><i class="add-icon material-icons">add</i></div>
        <div class="frame" *ngFor="let frame of frames" (click)="loadFrame(frame)" [ngClass]="{'frame-selected': currentFrame == frame}">
          <div class="pixel" *ngFor="let cell of frame.data" [ngStyle]="{'background-color': 'rgb('+cell.red+', '+cell.green+', '+cell.blue+')'}"></div>
        </div>    
      </div>
  </div>
</div>