/* You can add global styles to this file, and also import other style files */
:root {
    --primary: #fff;
    --background: #fff;
    --light: #242b2a;
    --lighter: #242b2a;
    --accent: #242b2a;
}



.dark {
    --primary: #1f2833;
    --background: #0b0c10;
    --light: #c5c6c7;
    --lighter: #66fcf1;
    --accent: #45a29e;
}

body {
    background: var(--background);
    color: var(--lighter);
    font-family: 'Roboto', sans-serif;
}

.controls button {
    height: 38px;
    text-align: center;
    min-width: 38px;
    display: inline-block;
    margin: 1px;
    cursor: pointer;
    border: none;
    border: solid 1px black;
    user-select: none;
    border-radius: 5px;
    background-color: transparent;
    color: var(--accent);
    transition: all 0.1s ease-in-out;
}
.controls button i {
    width: 24px;
    vertical-align: middle;
}

.button-right {
    float: right;
}

.controls button:hover {
    background-color: var(--accent);
    color: var(--primary);
}

.controls button:focus {
    outline: none;
}

.controls button:active {
    background-color: #8d8d8d;
}

.controls button[disabled=disabled], .controls button:disabled {
    cursor: not-allowed;
    background-color: #d8d8d8;
}
.controls button[disabled=disabled]:hover, .controls button:disabled {
    background-color: #d8d8d8;
    color:black;
}

.controls .loading {
    cursor: progress !important;
}