/* You can add global styles to this file, and also import other style files */
:root {
    --primary: #fff;
    --background: #fff;
    --light: #242b2a;
    --lighter: #242b2a;
    --accent: #242b2a;
}



.dark {
    --primary: #1f2833;
    --background: #0b0c10;
    --light: #c5c6c7;
    --lighter: #66fcf1;
    --accent: #45a29e;
}

body {
    background: var(--background);
    color: var(--lighter);
    font-family: 'Roboto', sans-serif;
}

.controls button {
    vertical-align: bottom;
}

button {
    vertical-align: middle;
    height: 38px;
    text-align: center;
    width: 38px;
    display: inline-block;
    margin: 1px;
    cursor: pointer;
    border: none;
    user-select: none;
    /*border-radius: 5px;*/
    background-color: transparent;
    color: var(--accent);
    transition: all 0.1s ease-in-out;
}
button i {
    width: 24px;
    vertical-align: middle;
}

.button-right {
    float: right;
}

button:hover {
    background-color: var(--accent);
    color: var(--primary);
}

button:focus {
    outline: none;
}

button:active {
    transition: none;
    background-color: #555555;
}

button[disabled=disabled], .controls button:disabled {
    cursor: not-allowed;
    color: #8b8b8b;
    background-color: white;
}
button[disabled=disabled]:hover, .controls button:disabled {
    color: #8b8b8b;
    background-color: white;
}
    
input[type=number]{
    height: 34px;
    text-align: center;
    display: inline-block;
    margin: 1px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    user-select: none;
    font-family: monospace;
    /*border-radius: 5px;*/
    background-color: transparent;
    color: var(--accent);
    padding-left: 10px;
    text-align: left;
    transition: all 0.1s ease-in-out;
}
input[type=text] {
    font-family: 'Roboto', sans-serif;
}


input:focus {
    outline: none;
}

.controls .loading {
    cursor: progress !important;
}